<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-node-js-1174925.png?f=webp" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                Node ToDo
            </a>
        </div>
    </nav>
</header>